*   {
	font-family: "Roboto", sans-serif;
	/*semicolon: delimiter*/

}
h1, h2 {
	font-family: "Montserrat", sans-serif;
}

img {
	height: 250px;
	width:250px;
	border-radius:50%;
}

.jumbotron {
	background-color:transparent;
}

#landing {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* centesrs the content vertically using flexbox */
#gallery {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 75vh;
}

/*removes bulletpoints of the uls/lists*/
ul {
	list-style-type: none;
	padding: 0;

}
h2 {
	color: #e1ffff;
}

/*add spacing and borders to each section*/
.tools {
	padding: 25px;
	height: 200px;
	border: 5px solid #e1ffb1;
	margin: 20px;
	width: 75%;
	color: white;
}
